body {
    font-family: sans-serif;
    background: #111;
    color: #fff;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.card {
    background: #222;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #444;
}

ul li {
    margin: 6px 0;
}
